<settings>
    <setting id="Location1" value="La Vernia (US)" />
    <setting id="Location1id" value="2434366" />
    <setting id="Location2" value="Logan (US)" />
    <setting id="Location2id" value="2441116" />
    <setting id="Location3" value="San Francisco (US)" />
    <setting id="Location3id" value="2487956" />
</settings>
